body{
    margin: 0px;
    color: white;
    font-family: serif , monospace;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/background-images/IMG_0714.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container > .content{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: -webkit-fill-available;
}
.container > .content > .txt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container > .content > .txt > .head{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    border-right: 2px solid #000000;
    padding-right: 5px;
    width: 600px;
    height: 130px;
    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 2s steps(22), 
        cursor .4s step-end infinite alternate;
}
.container > .content > .txt > .head h2{
    height: 40%;
    margin: 3px;
    font-size: 3em;
}
.container > .content > .txt > .head h1{
    height: 60%;
    margin: 3px;
    font-size: 3.2em;
    font-family: 'Courier New', Courier, monospace;
}
@keyframes cursor {
    50%{
        border-color: transparent;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
}
.container > .content > .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.container > .content > .btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 125px;
    height: 40px;
    border-radius: 10px;
    margin: 10px 20px;
    transition: 1s
}
.container > .content > .btn a:hover, a:active, a:focus, a:visited{
    color: black;
    background-color: white;
    letter-spacing: 0.8px;
    font-size: 1.04em;
}
.container > .content > .about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
}
.container > .content > .about-section p{
    font-family: 'Times New Roman', Times, serif;
    animation: transview 5s linear;
    opacity: 1;
}
@keyframes transview{
    0%{
        opacity: 0;

    }
    20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width: 615px){
    .container > .content{
        height: 100vh;
    }
    .container > .content > .txt > .head {
        margin-top: 60px;
        width: calc(100% - 40px);
        height: 90px;
    }
    .container > .content > .txt > .head h2 {
        height: 100%;
        font-size: 1.5em;
        width: 100%;
        font-family: monospace, impact;
        letter-spacing: -0.5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .container > .content > .txt > .head h1 {
        height: 100%;
        font-size: 1.5em;
        width: 100%;
        letter-spacing: -0.5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}